<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/addstudent" method="get">
            <h3>ADD STUDENT</h3>
            <hr>
            <label for="name"><b>Student Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="phone"><b>Contact Number</b></label>
            <input type="phone" placeholder="Enter Phone Number" name="phone" id="phone" required>

             <label for="email"><b>Email Id</b></label>
            <input type="email" placeholder="Enter email id" name="email" id="email" required>
            <strong>Gender</strong><br>
            <div class="gender">
               
                <label for="male">Male</label>
                <input type="radio" name="gender" id="male" value="Male">
                <label for="female">Female</label>

                <input type="radio" name="gender" id="female" value="Female">
            </div>
            <button type="submit" class="registerbtn">ADD STUDENT</button>

            <a href="./" class="linktogoback">Back To Home Page</a>

            {{#if mesg}}
            <h3>Data Inserted</h3>
            {{/if}}


            
            {{#if checkmesg}}
            <h3>Email or Phone Number already exist! </h3>
            {{/if}}

        </form>
    </div>
</body>
</html>