* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#first {
  width: 80%;
  margin: 20px auto;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 90%;
  min-width: 60px;
}
.nav_bar ul {
  display: flex;
}
.nav_bar ul li {
  margin-right: 30px;
  align-self: center;
}
.nav_bar ul li a {
  color: #000;
}
.menu {
  display: none;
  margin-top: 5px;
}
.menu .fa-bars {
  font-size: 25px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.304);
}
.side_bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  z-index: 100;
  height: 100%;
  display: none;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.205);
}
.side_bar ul li a {
  color: #fff;
  font-size: 19px;
  transition: 0.3s;
  display: block;
}
.side_bar ul li a:hover,
.close .fa-xmark:hover {
  color: rgb(154, 154, 154);
}
.side_bar ul {
  position: relative;
  top: 14%;
  text-align: right;
  margin-right: 70px;
}
.side_bar ul li {
  margin: 20px 0;
}
.close .fa-xmark {
  color: #fff;
  position: relative;
  top: 30px;
  transition: 0.3s;
  left: 240px;
  font-size: 25px;
}
#banner {
  margin: 50px 0;
}
#banner h1 {
  text-align: center;
  font-size: 45px;
}
#banner p {
  text-align: center;
  font-size: 16px;
}
#tour_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  gap: 1em;
}

.pic img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.pic:nth-of-type(3) {
  grid-row: 1 / span 2;
  grid-column-start: 3;
}
.pic:nth-of-type(6) {
  grid-column: 1 / span 2;
}
.pic:nth-of-type(6) img,
.pic:nth-of-type(7) img {
  height: 50%;
}
@media screen and (max-width: 1050px) {
  .nav_bar ul {
    display: none;
  }
  .nav_bar .menu {
    display: block;
  }
  #tour_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .pic:nth-of-type(3) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .pic:nth-of-type(6) {
    grid-column: 1 / span 1;
    width: 140%;
  }
  .pic:nth-of-type(6) img {
    width: 93%;
  }
  .pic:nth-of-type(7) {
    margin-left: 8%;
    position: relative;
    left: 23%;
  }
  .pic:nth-of-type(7) img {
    width: 75%;
  }
}
@media screen and (max-width: 650px) {
  #tour_grid {
    grid-template-columns: 1fr;
  }
  .pic img {
    width: 100% !important;
    height: 100% !important;
  }
  .pic:nth-of-type(3) {
    grid-row: 3;
    grid-column-start: 1;
  }
  .pic:nth-of-type(6) {
    grid-column-start: 1;
    grid-row: inherit;
    width: 100%;
  }
  .pic:nth-of-type(7) {
    margin-left: 0;
    left: 0;
  }
}
