*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gridBox
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px 569px 80px;
    gap: 0.5em;
    text-align: center;
}
.gridBox > div
{
    background-color: darkgoldenrod;
    padding: 30px;
    color: #fff;
    font-size: 25px;
}
.one:nth-child(1),.one:nth-child(5)
{
    grid-column: 1/4;
}
@media only screen and (max-width: 700px)
{
    .gridBox > .one
    {
        background-color:sienna;
    }
    .one:nth-child(2),.one:nth-child(3), .one:nth-child(4)
    {
        grid-column: 1/4;
    }
    .gridBox
{
   
    grid-template-rows: 80px repeat(3,300px) 80px;
   
}
   
}
