@media screen and (max-width: 1188px) {
  body {
    background-color: lightblue;
  }
  #main .nav {
    /* visibility: hidden; */
    display: none;
  }
  .secondContent {
    flex-direction: column;
  }
  #search .searchMain,
  #third .top {
    grid-template-columns: 1fr;
  }
  #search .searchMain .searchRight {
    justify-self: start;
    width: 100%;
  }

  /**--------------------THIRD--------------------------**/
  #third .top .img:nth-child(1) {
    grid-column: 1 / span 2;
    padding-right: 0;
  }
  #third .top .img:nth-child(2) {
    grid-column: 1 / span 2;
    margin-top: 10px 0 0 0;
    padding-left: 0;
  }
  #third .top .img img {
    height: 20vh;
    width: 100%;
    object-fit: cover;
  }
  #third .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 78%;
    margin: 1% auto;
  }
}

@media screen and (max-width: 1428px) {
  .text {
    width: 350px;
  }
}
