@media screen and (max-width: 1188px) {
  body {
    background-color: lightblue;
  }
  #main .nav {
    /* visibility: hidden; */
    display: none;
  }

  .secondContent {
    flex-direction: column;
  }
  .searchMain {
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}
@media screen and (max-width: 1428px) {
  .text {
    width: 350px;
  }
}
