    *
    {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    #banner
    {
        background: linear-gradient(rgba(0,0,0,0.5),#009688),url(img/banner.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .logo
    {
        width: 140px;
        position: absolute;
        margin: 4% 0 0 10%;
    }
    .banner-text
    {
        text-align: center;
        color: #fff;
        padding-top: 180px;
    }
    .banner-text h1
    {
        font-size: 130px;
        font-family: 'Kaushan Script', cursive;
    }
    .banner-text p
    {
        font-size: 20px;
        font-style: italic;
    }
    .banner-btn
    {
        margin: 70px auto 0;
    }
    .banner-btn a
    {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        width: 150px;
        margin: 0 10x;
        padding: 12px 0;
        border: .5px solid #fff;
        position: relative;
        z-index: 2;
        transition: color .5s;
    }
    .banner-btn a span
    {
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background:#fff;
        z-index: -1;
        transition: .5s;
    }
    .banner-btn a:hover span
    {
        width: 100%;
    }
    .banner-btn a:hover 
    {
        color: #000;
    }
    #sideNav
    {
        width: 250px;
        height: 100vh;
        right: -250px;
        top: 0;
        position: fixed;
        background: #009688;
        z-index: 2;
        transition: .5s;

    }
    nav ul li
    {
        list-style: none;
        margin: 50px 20px;
    }
    nav ul li a
    {
        text-decoration: none;
        color: #fff;
    }
    #menuBtn
    {
        width: 50px;
        height: 50px;
        background: #009988;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }
    #menuBtn img
    {
        width: 20px;
        margin-top: 15px;
    }
    @media screen and (max-width: 770px)
    {
        .banner-text h1
        {
            font-size: 44px;
        }
        .banner-btn a
        {
            display: block;
            margin: 20px auto;
        }
    }

    #features
    {
        width: 100%;
        padding: 70px 0;
    }
    .tittle-text
    {
        text-align: center;
        padding-bottom: 70px;
 
    }
    .tittle-text p
    {
        margin: auto;
        font-size: 20px;
        color: #009688;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
    }
    .tittle-text p::after
    {
        content: " ";
        width: 50px;
        height: 35px;
        background: linear-gradient(#019567,#fff);
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
        transform: rotate(10 deg);
    }
    .tittle-text h1
    {
    font-size: 50px;
    }
    .feature-box
    {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 80%;
        align-items: center;
        text-align: center;
  
    }
    .features
    {
        flex-basis: 50%;
    }
    .feature-img
    {
        flex-basis: 50%;
        margin: auto;
    }
    .feature-img img
    {
        width: 70%;
        border-radius: 10px;
    }
    .features h1
    {
        text-align: left;
        font-weight: 100;
        margin-bottom: 10px;
        color: #009688;
    }
    .features-desc
    {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .feature-icon .fa
    {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        border-radius: 8px;
        color: #009688;
        border: 1px solid #009688;
    }
    .features-text
    {
        padding: 0 20px;
        text-align: initial;
    }
    @media screen and (max-width: 770px)
    {
        .tittle-text h1
    {
    font-size: 35px;
    }
    .features
    {
        flex-basis: 100%;
    }
    .feature-img
    {
        flex-basis: 100%;
    }
    .feature-img img
    {
        width: 100%;
    }
    }
    #services
    {
        width: 100%;
        padding: 70px 0;
        background: #efefef;
    }
    .services-box
    {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
    .single-service
    {
        flex-basis: 48%;
        text-align: center;
        border-radius: 7px;
        margin-bottom: 20px;
        color: #fff;
        position: relative;
    }
    .single-service img
    {
        width: 100%;
        border-radius: 7px;
    }
    .overlay
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 7px;
        cursor: pointer;
        background: linear-gradient(rgba(0,0,0,0.5),#009988);
        opacity: 0;
        transition: 1s;
    }
    .single-service:hover .overlay
    {
        opacity: 1;
    }

    .services-desc
    {
        width: 80%;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 1s;
    }
    hr
    {
        background: #fff;
        height: 2px;
        margin: 15px auto;
        width: 60%;
        border: 0;
    }
    .services-desc p
    {
        font-size: 14px;
    }
    .single-service:hover .services-desc
    {
        bottom: 40%;
        opacity: 1;
    }
    @media screen and (max-width: 770px)
    {
        .single-service
    {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .services-desc p
    {
        font-size: 12px;
    }
    hr
    {
        margin: 5px auto;
    }
    .single-service:hover .services-desc
    {
        bottom: 25% !important;
    }
    }
   /*----------------TESTIMONIAL---------------*/
   #testimonial
   {
       width: 100%;
       padding: 70px 0;
   }
   .testimonial-row
   {
       width: 80%;
       margin: auto;
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
       flex-wrap: wrap;
   }
   .testimonial-col
   {
       flex-basis: 28%;
       padding: 10px;
       margin-bottom: 30px;
       border-bottom: 5px;
       box-shadow: 0 10px 20px 3px #00968814;
       cursor: pointer;
       transition: transform .5s;
   }
   .testimonial-col:hover
   {
       transform: translateY(-7px);
   }
   .user
   {
       display: flex;
       align-items: center;
       margin: 20px 0;
   }
   .user img
   {
       width: 40px;
       margin-right: 20px;
       border-radius: 3px;
   }
   .user-info .fa
   {
    color: #27C0ff;
    font-size: 20px;
    margin-left: 10px;
   }
   .user-info small
   {
       color: #009688;
   }
   @media screen and (max-width: 770px)
   {
    .testimonial-col
    {
        flex-basis: 100%;
    }
   }
   #footer
   {
       padding: 100px 0 20px;
       background: #efefef;
       position: relative;
   }
   .footer-row
   {
       width: 80%;
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   .footer-left, .footer-right
   {
       flex-basis: 45%;
       padding: 10px;
       margin-bottom: 20px;
   }
   .footer-right
   {
       text-align: right;
   }
   .footer-row h1
   {
       margin: 10px 0;
   }
   .footer-row p
   {
       line-height: 35px;
   }
   .footer-left .fa, .footer-right .fa
   {
       font-size: 20px;
       margin: 10px;
       color: #009988;
   }
   @media screen and (max-width: 770px)
   {
    .footer-left, .footer-right
    {
        flex-basis: 100%;
        font-size: 14px;
        text-align: right;
    }
   }
   .footer-img
   {
       max-width: 370px;
       opacity: .1;
       position: absolute;
       left: 50%;
       top: 35%;
       transform: translate(-50%,-50%)
   }
   .social-links
   {
       text-align: center;
   }
   .social-links .fa
   {
       height: 40px;
       width: 40px;
       font-size: 20px;
       line-height: 40px;
       border: 1px solid #009988;
       margin: 40px 5px 0;
       color: #009988;
       cursor: pointer;
       transition: .5s;
   }
   .social-links .fa:hover
   {
       background: #009988;
       color: #fff;
       transform: translateY(-7px);
   }
   .social-links p
   {
       font-size: 12px;
       margin-top: 20px;
   }