@media only screen and (max-width: 90em) {
  .menuGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
        grid-template-areas: 'aside aside' 'bside bside';
    width: 70%;
    margin: auto;
  }
  .menuGrid .bSide {
    margin-top: 19%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: bside;
  }
  .menuGrid .aSide {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: aside;
  }
  .menuGrid p {
    width: 80%;
  }
}

@media only screen and (max-width: 70em) {
  nav ul li {
    display: none;
  }
  nav .fa {
    display: block;
    color: #fff;
    position: absolute;
    right: 120px;
  }
  .bSide {
    margin-top: 95%;
    border: 2px solid brown;
  }
}

h2 {
  color: #aa242a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#mainContent {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.555)), to(rgba(0, 0, 0, 0.507))), url(../images/bg1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.507)), url(../images/bg1.jpg);
  height: 100vh;
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
  background-position: 198% 55%;
  background-size: cover;
  position: relative;
}

#mainContent .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 85%;
  padding: 20px 0 4px 0;
  margin: auto;
  border: 2px solid transparent;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#mainContent .heading .infoHead {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

#mainContent .heading .infoHead .fa {
  color: #fdb036;
  margin-right: 9px;
  font-size: 17px;
}

#mainContent .heading .infoHead p {
  color: #fcf1e1;
}

#mainContent .heading .infoHead:nth-child(3) p {
  color: #fdb036;
}

#mainContent nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  border: 2px solid transparent;
  width: 85%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainContent nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#mainContent nav ul li {
  list-style: none;
  margin: 15px;
  padding-top: 6px;
}

#mainContent nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: clamp(12px, 18.5px, 19px);
}

#mainContent nav ul li a::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 2px;
  top: 24px;
  left: 0;
  background-color: #bc1f2e;
  -webkit-transition: .4s;
  transition: .4s;
}

#mainContent nav ul li a:hover::after {
  width: 105%;
}

#mainContent nav ul li:nth-child(7) {
  background-color: #bc1f2e;
  padding: 9px 15px;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

#mainContent nav ul li:nth-child(7):hover {
  background-color: #fff;
}

#mainContent nav .fa {
  visibility: hidden;
}

#mainContent nav ul li:nth-child(7):hover a {
  color: #bc1f2e;
}

#mainContent nav ul li:nth-child(7) a {
  font-size: 18.5px;
  -webkit-transition: .4s;
  transition: .4s;
}

#mainContent nav ul li:nth-child(7) a::after {
  height: 0px;
}

#mainContent nav img {
  width: 125px;
  height: 70px;
  position: relative;
  bottom: 11px;
  margin-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

#mainContent .menuHead {
  position: relative;
  text-align: center;
  color: #fff;
  border: 2px solid transparent;
  width: 85%;
  margin: auto;
  top: 26%;
}

#mainContent .menuHead h1 {
  font-size: 70px;
}

#mainContent .menuHead span {
  color: #fdb036;
}

#mainContent .menuHead p {
  font-size: 25px;
  font-weight: 200;
  margin-top: 30px;
}

#MenuContent {
  width: 85%;
  margin: 60px auto 150px;
  border: 2px solid transparent;
}

#MenuContent .optionHead h2 {
  font-size: 39px;
  text-align: center;
}

#MenuContent .optionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 15px auto 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid transparent;
}

#MenuContent .optionItem p {
  border: 2px solid rgba(68, 66, 66, 0.432);
  padding: 9px;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

#MenuContent .optionItem p:hover {
  background-color: #bc1f2e;
  cursor: pointer;
  color: #fff;
  border: 2px solid transparent;
}

#MenuContent .optionItem .active {
  background-color: #bc1f2e;
  cursor: pointer;
  color: #fff;
  border: 2px solid transparent;
}

#MenuContent .menuGrid {
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

#MenuContent .menuGrid .aSide, #MenuContent .menuGrid .bSide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (17%)[7];
      grid-template-rows: repeat(7, 17%);
  row-gap: 5px;
  border: 2px solid transparent;
}

#MenuContent .menuGrid .aSide .foodItem, #MenuContent .menuGrid .bSide .foodItem {
  border: 2px solid transparent;
}

#MenuContent .menuGrid .aSide .foodItem p, #MenuContent .menuGrid .bSide .foodItem p {
  color: rgba(128, 128, 128, 0.781);
  font-style: italic;
  font-size: 14.5px;
}

#MenuContent .menuGrid .aSide .foodItem h2, #MenuContent .menuGrid .bSide .foodItem h2 {
  font-size: 22px;
  line-height: 30px;
}

#MenuContent .menuGrid .aSide .foodItem .dotColor, #MenuContent .menuGrid .bSide .foodItem .dotColor {
  color: rgba(128, 128, 128, 0.76);
  font-weight: 300;
  font-size: 16px;
}

#MenuContent .menuGrid .aSide .foodItem .numberColr, #MenuContent .menuGrid .bSide .foodItem .numberColr {
  color: #000;
  font-weight: 500;
}

#footerPart {
  background-color: #bc1f2e;
  text-align: center;
  padding: 20px 0 30px 0;
  margin-top: 80px;
  position: relative;
}

#footerPart p {
  color: #fff;
  line-height: 28px;
}

#footerPart .mediaPart {
  padding-right: 10px;
  margin: 30px 0;
}

#footerPart .mediaPart .fa {
  height: 40px;
  width: 40px;
  background-color: #464545;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 11px;
  margin-right: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}

#footerPart .mediaPart .fa:hover {
  color: #bc1f2e;
  cursor: pointer;
}

#footerPart .lastPart span {
  font-weight: 800;
}

#footerPart .lastPart p {
  width: 28%;
  margin: auto;
  font-size: 17px;
  border: 2px solid transparent;
}

#footerPart .lastPart .name {
  color: #fdb036;
}

#footerPart .lastPart .scrollBtn .fa {
  color: #fcf1e1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 22px;
  padding-top: 6px;
  background-color: #fdb036;
  position: absolute;
  bottom: 30px;
  -webkit-transition: .4s;
  transition: .4s;
  right: 40px;
}

#footerPart .lastPart .scrollBtn .fa:hover {
  background-color: #fff;
  color: #bc1f2e;
}
/*# sourceMappingURL=style.css.map */