*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

header
{
    width: 85%;
    margin: auto;
}
.topNav
{
    display: flex;
    width: 85%;
    margin-top: 10px;

}
.topNav .logo img
{
    height: 34%;
    width: 268px;
    margin-top: 20px;
    display: block;
}
.topNav .logo small
{
    display: inline-block;
    font-size: 13px;

    margin: 0.8% 0 0 61%;
    color: rgba(128, 125, 125, 0.877);
}
.gif img
{
    border-radius: 4px;
    width: 720px;
    height: 80px;
    margin: 5px 0 5px 299px;
    display: inline-block;
}
/***********----------------NAVBAR------------------**********/
.nav_Nav
{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px 0;
    background-color: #2260bf;
}
nav
{
    display: flex;
   width: 85%;
   margin: auto;
  
}
#showS
{
    height: 36px;
    max-width: 309px;
  
}
.shown
{
    border: 4px;
    position: relative;
    bottom: 2.5px;
    right: 7px;
    visibility: hidden;
}
.slideRight {
    animation-name: slideRight;
    animation-duration: 1s;
    visibility: visible;
  }
  .slideNo {
    visibility: hidden;
  }
  @keyframes slideRight {
    from {
      opacity: 0;
      -webkit-transform: translateX(-10%);
    } 
   to {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
 
nav ul 
{
    display: flex;
  text-align: left;
}
nav ul li
{
    list-style: none;
    padding-top: 12px;
    margin: 0 11px;
}
nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-family: 'Khand', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 0 8px;
    transition: .3s;
}
nav ul li a:hover ,.active
{
    color: #70c9ff;
    cursor: pointer;
}
/*-----NAV ICONS-------*/
.nav_logo
{
    align-items: center;
    display: flex;
    margin-left: 14.5%;
}
.nav_logo img
{
    width: 54px;
    height: 40px;
}
.nav_logo .fa
{
    color: #fff;
    vertical-align: bottom;
    font-size: 25px;
    margin: 0 15px;
    text-align: right;
}
.nav_logo .fa:nth-child(1)
{
    transform: scaleX(-1);
    font-size: 29px;
    border-radius: 50%;
   padding: 8px 10px;
   transition: .4s;
}
.nav_logo .fa:nth-child(1):hover
{
    background-color: #fda04e;
    cursor: pointer;

}
.nav_logo .fa:nth-child(5)
{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    padding-top: 6px;
    text-align: center;
    border: 1px solid #fff;
}
.active
{
    margin-left: -15px;
}

/**-------SUBNAV------*****/
.hoverBox
{
    color: #000;
    transition: .5s;
}
.subNav_two .hoverBox
{
color: #fff;
}
.hoverBox img
{
    width: 210px;
    height: 130px;
    border-radius: 4px;
    margin-left: 5px;
}
.hoverBox .btn
{
    margin: 20px 0 12px 5px;
    padding: 1px 5px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;
    background-color: #e11b22;
}
.subNav .hoverBox:nth-child(2) img
{
    object-fit: cover;
    object-position: 50% 10%;
    margin-left: 10px;
}
.subNav_two .hoverBox:nth-child(5) img
{
    object-fit: cover;
    object-position: 50% 10%;
}
.subNav .hoverBox:nth-child(3)
{
    border-right: 1px solid rgba(214, 211, 211, 0.781);
    margin: 0 9px 0 12px;
    padding-right: 15px;
}
.subNav .hoverBox:nth-child(4)
{
    margin-left: 15px;
}
.subNav .hoverBox:nth-child(4),
.subNav .hoverBox:nth-child(5)
{
    display: grid;
    font-size: 16px;
    grid-template-columns: 10% 90%;
}
.stylS
{
    padding: 1px 0 10px 5px;
    line-height: 27px;
    font-size: 21px;
    transition: .5s;

}
.subNav .hoverBox:hover .stylS
{
    color: #2260bf;
}
.subNav, .subNav_two
{
    position: relative;
    padding-bottom: 8px;
    z-index: 9;

}
.navHover{
    display: none;
    position: absolute;
    grid-template-columns: repeat(2,15.9%) 19% 25% 25%;
    min-width: 1400px;
    top: 55px;
    border-radius: 3px;
    margin-left: -400px;
    border-top: 4px solid rgba(0, 0, 0, 0.589);
    background: #fff;
    box-shadow: -2px -2px 34px -9px rgba(0,0,0,0.54);
    padding: 50px 25px;
}
.subNav:hover .navHover,
.subNav_two:hover .navHover
{
    display: grid;
}
.subNav_two .navHover{
   
    grid-template-columns: repeat(6,1fr);
    margin-left: -850px;
    background: #161a25;
}
.dot
{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    border-radius: 50%;
    background-color: #55acee;
}
.hoverBox .contentDot
{
    padding: 10px;
}
.contentDot h3
{
    font-size: 20px;
    padding-bottom: 18px;
}
.contentDot p
{
    font-size: 16.5px;
    line-height: 22px;
   text-decoration-line: underline;
   padding-bottom: 12px;
   transition: .4s;

}
.contentDot p:hover
{
    color: #55acee;
    cursor: pointer;
}
/*--------------FEATURES----------------------------------*/
.featureBox
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.topFeature 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 40px auto;

}
.topFeature h2, #stories h2
{
line-height: 1;
font-size: 45px;
font-weight: 600;
font-family: khand,sans-serif;
    color: #2260bf;

}
.topFeature .fa
{
    border-radius: 50%;
    color: #2260bf;
    background-color: rgba(34,96,191,.08);
    padding: 5px 10.5px;
    transition: .4s;
}
.topFeature .fa:hover
{
    color: #fff;
   background-color: #2260bf;
}
.featureBox > div
{
    margin: 0 8px;
    overflow: hidden;

}

.featureBox .box > .overlay
{
    width: 310px;
    height: 454px;
    top: 40%;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    font-weight: 600;
    position: absolute;
    padding: 20.5% 2% 0% 2%;
    border-radius: 3px;
    background-image: linear-gradient(to top,rgba(0,0,0,0.88),rgba(0,0,0,0.68),transparent,transparent,transparent);
}
.featureBox .box:nth-child(even) > p
{
    padding: 22% 2% 0% 2%;

}
.featureBox .box
{
    transition: all .5s ease;

}
.featureBox .box img
{
    width: 310px;
    height: 445px;
    border-radius: 3px;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    transition: all .5s ease;
}
.featureBox .box:hover img
{
transform: scale(1.03);
}
#stories
{
    height: 90vh;
}

.Stories_eBox
{
    display: flex;
    width: 85%;
    margin: auto;
    position: relative;

}
.Stories_eBox .box p
{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    margin: 10px 20px;
}
.Stories_eBox > .box
{
    background-color: #0000000a;
    margin: 10px 14px 10px 1px;
    position: relative;
    left: 5px;
    border-radius: 4px;
    height: 450px;
    width: 420px;
}
.Stories_eBox .box:nth-child(2) p
{
    width: 76%;
    position: relative;
    left: 11%;
    padding: 15px 20px;
    margin: 0 0 0 -45px  !important;
}

.Stories_eBox .box img
{
    width: 420px;
    height: 310px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}












footer
{
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    background-color: rgba(34,96,191,.04);
    border-bottom: 2px solid transparent;

   
}
.topFooter
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    margin: 55px 35px;
    padding-left: 15px;
}
.topFooter h3
{
    color: #2260bf;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: khand,sans-serif;
}
.topFooter .grid_Box:nth-child(1)
{
    margin-left: 30px;
}
.grid_Box > p
{
    margin: 5px 0;
    width: 190px;
    font-weight: 600;
    font-size: 16px;
   color: rgba(0,0,0,.48); 
   transition: .4s;
}
.grid_Box > p:hover
{
    color: #2260bf;
    cursor: pointer;
}
.last
{
    background-color: rgba(34,96,191,.14);
    padding: 40px;
}
.bottom_footer
{
    display: grid;
    width: 89%;
    font-weight: 800;
    color: rgba(0,0,0,.48);
    margin: auto;
    grid-template-columns: repeat(4,1fr)20% 23%;
}
.bottom_footer img
{
    max-width: 240px;
    margin: 15px 10px 0 0;
}
.bottom_footer > .footerContent
{
    border-left: 1px solid #4747472f;
    margin: 4px;
    display: inline-block;
    padding: 5px 5px 5px 19px;
    line-height: 1.2;
    font-family: 'Mukta', sans-serif;
}
.footerContent small
{
    font-size: 13px;
}
.footerContent p
{
    font-size: 18px;
}
.footerContent:nth-child(5) p,.footerContent:nth-child(5) small
{
    font-size: 14px;
}
.footerContent:nth-child(6) p
{
    font-size: 12px;
    color: #000;
    font-weight: 400;
}
.footer_icons .fa
{
    margin: 0 8px;
    font-size: 17px;
    transition: .4s;
}
.footer_icons .fa:hover
{
    color: #2260bf;
}
    /* The Modal (background) */
    .modal,.modal_two {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 11; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        backdrop-filter: blur(2px);  
        animation-name: animatetop;
        animation-duration: 0.3s;
        
      }
      /* Add Animation */
      @keyframes animatetop {
        from {top:-300px; opacity:1}
        to {top: 0; opacity:1}
      }
      /* Modal Content/Box */
      .modal-content, .modal-content_two {
        background-color: #f4f6f8;
        margin: auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #afacac41;
        width: 100%; /* Could be more or less, depending on screen size */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      
      }
      
      .modal-content .p,
      .modal-content_two .p
      {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 50vh;
        border-top: 1px solid #99969660;
        width: 80%;
        margin: auto;
        padding-top: 20px;
      }
      .modal-content .p .modalBox, 
      .modal-content_two .p .modalBox
      {
        padding-right: 35px;
        padding-top: 10px;
      }
      .modal-content .p .modalBox:nth-child(1),
      .modal-content .p .modalBox:nth-child(2),
      .modal-content_two .p .modalBox:nth-child(1),
      .modal-content_two .p .modalBox:nth-child(2)
      {
        margin-right: 10px;
        border-right: 1px solid #74737331;
        height: 85%;

      }
      .modal-content .p .modalBox:nth-child(2),
      .modal-content_two .p .modalBox:nth-child(2),
      .modal-content_two .p .modalBox:nth-child(3),
      .modal-content .p .modalBox:nth-child(3)
      {
        margin-left: 20px;
      }
      
      
      .Update ,
      .Update_two
      {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 80%;
         margin: 10px auto 0;
         position: relative;
         top: 20px;
      }
      .Update h2 span,
      .Update h2,
      .Update_two h2,
      .Update_two h2 span
      {
        font-size: 48px;
    font-family: 'Khand', sans-serif;
        color: #2260bf;
        padding: 10px 0 15px 0  !important;
      }
      .Update h2 span::after,
      .Update_two h2 span::after
      {
      content: ' ';
      height: 5px;
      width: 8%;
      position: absolute;
      top: 78px;
      left: 0;
      background-color: #2260bf;
      }
      /* The Close Button */
      .close, .close_two {
        color: #2260bf;
        font-size: 28px;
        line-height: 8px;
        padding: 6px 15px 5px 4px;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        border: 1px solid #2260bf;
        font-weight: bold;
      }
      .close:hover,
.close_three:hover,
.close_two:hover,
.close_four:hover

      {
        cursor: pointer;
      }
      .subBox 
       {
         display: grid;
         grid-template-columns: 75% 10%;
         width: 100%;
         padding-right: 30px;
         transition: .4s;
       }
       .modal-content_two .subBox 
       {
         display: grid;
         grid-template-columns: 15.5% 60% 10%;
       }
       .number
       {
        font-size: 60px;
        font-weight: 200;
        color: rgba(34,96,191,.24);
        line-height: .62;
        padding: 20px 30px 5px 0;
       }
      .subBox:hover
      {
          color: #2260bf;
          cursor: pointer;
      }
       .subBox img
        {
         width: 100px;
         height: 75px;
         border-radius: 3px;
         margin: 11px 10px 0 9px;
        }
      .subBox p
      {
        font-size: 19px;
        font-weight: 500;
        padding: 10px 0;
      }
       /*login-------------------------------*/
      .LogHead
{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-left: auto;
    font-size: 18px;
    font-weight: lighter;
    color: rgba(0,0,0,.68);
    font-family: 'Mukta', sans-serif;
}
.background
{
    padding: 18px 0 0 0;
}
.loginGrid
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.background
{
    background-color: #fff;
    border-radius: 4px;
    width: 65%;
    box-sizing: border-box;
}
.close_three,.close_four
{
    font-size: 30px;
    margin-right: 30px;
}
.login
{
    width: 100%;
    height: 100%;
   display: none;
   top: 0;
   left: 0;
   margin: 0;
   justify-content: center;
   align-items: center;
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    background-color: rgba(0, 0, 0, 0.514);
}
.login_side:nth-child(1)
{
    padding: 25px 20px 20px 50px;
    background-color: #e9eff9;
    height: 100%;
    border-radius: 0 0 0 4px ;
}

input[type=text],input[type=password]
{
    width: 96%;
    padding: 14px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3px;
}
input[type=password]
{
    margin-bottom: 15px;
}
input[type=button]
{
    background-color: #2260bf;
    color: #fff;
    width: 93%;
    padding: 14px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
}
label
{
    color: rgba(0,0,0,.58);
}
form p:nth-child(9) a
{
    color: #2260bf;
}
form p:nth-child(10) 
{
    text-align: center;
    font-size: 16px;
    color: rgba(0,0,0,.58);
    margin: 15px 0;
    font-weight: 700;
}
.ok
{
    font-size: 12px;
    color: rgba(0,0,0,.68);
    margin: 15px 0 15px 5px;
    display: inline-block;
}

.loginMedia
{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.log1
{
    color: #fff;
    border-radius: 4px;
    padding: 0 17px 8px 3px;
    font-size: 14px;
}
.log1 .fa
{
    color: #fff;
    transform: none !important;
    font-size: 18px !important;
    margin: 0 !important;
    text-align: center!important;
    position: relative;
    top: 5px;
}
.log1:nth-child(1),.log1:nth-child(1) .fa
{
    color: #e06044;
    background-color: #fff;

}
.log1:nth-child(2)
{
    background-color: #2260bf;
}
.log1:nth-child(3)
{
    background-color: #4ecaee;
}
.log1 .fa:hover
{
    background-color: transparent!important;
    cursor: pointer;

}



.login_side:nth-child(2)
{
    background-color: #f3f7fc;
    padding: 20px 10px 20px 40px;
    border-radius: 0 0 4px 0;
}
.inside
{
    width: 92%;
}
.login_side:nth-child(2) h2
{
    color: #2260bf;
    font-size: 24px;
    margin-bottom: 20px;
}
.go1
{
    display: grid;
    grid-template-columns: 10% 85%;
    column-gap: 5px;
    margin-bottom: 20px;
}
.go1 p:nth-child(1)
{
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    background-color: #dde9fb;
    color: #7d9ccc;
    height: 30px;
    border: solid 1px #c8ddff;
    width: 30px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 2px;
}
.go1 p:nth-child(2)
{
    font-size: 16px;
    color: #5e6a7d;
    line-height: 1.5;
}
.go1 p
{
    margin-bottom: 3px;
}


#sideNav
{
 width: 22%;
 height: 100vh;
 position: absolute;
 right: 0;
 display: none;
 top: 0;
 animation-name: navSlideIn;
 animation-duration: .5s;
 position: fixed;
 background-color: #f4f6f8;
}
@keyframes navSlideIn
{
    from
    {
        right: -300px;
        opacity: 1;
    }
    to
    {
        right: 0;
        opacity: 1;
    }
}
.close_four
{
    position: relative;
    left: 290px;
    color: #2260bf;
}
.navCont
{
    display: grid;
    align-items: center;
    grid-template-columns: 11% 80%;
    column-gap: 38px;
    margin: 10px 0 25px 20px;
    font-size: 20px;
    font-family: khand,sans-serif;
    color: rgba(0,0,0,.68);
    font-weight: 700;
}
.navCont::before 
{
 background-color: rgba(82, 82, 82, 0.171);
 content: ' ';
 position: absolute;
 width: 0%;
 height: 7%;
 transition: .5s;
 visibility: hidden;
}
.navCont:hover
{
    color: #2260bf;
}
.navCont:hover::before 
{
 visibility: visible;
 width: 100%;
}


.navCont img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 20px;
}
.navCont:nth-child(2) img
{
    border-radius: 0%;
    object-fit: contain;

}
.navCont:nth-child(1)
{
    margin-top: 50px;

}
#sideNav input[type=button]
{
    margin: 155px 0 0 35px;
    width: 85%;
}



